html {
  font-family: helvetica, sans-serif;
}

body {
  width: 80%;
  margin: auto;
  text-align: center;
}

pre {
  text-align: left;
}

div {
  width: 350px;
  margin: auto;
}

/* testing soemthing newish */